@mixin animate($value, $time) {
  -webkit-transition: #{$value} #{$time} ease-in-out;
  transition:#{$value} #{$time} ease-in-out;
}
@mixin trans($value) {
  -webkit-transform: #{$value};
  transform: #{$value};
}
@mixin circleIt($value) {
  width: #{$value};
  height: #{$value};
  border-radius: 50%;
  overflow: hidden;
}
@mixin border($value,$place) {
  @if ( $place == 'all') {
    border: #{$value} solid rgba(#eee,0.6);
  }
  @else{
    border-#{$place}: #{$value} solid rgba(#eee,0.6);
  }
}
